{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "~": "./src",
                    "+": "./assets",
                    "!": "./static"
                }
            }
        ]
    ]
}